/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/work-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Work Sans'), local('WorkSans-Regular'),
  url('./fonts/work-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/work-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/work-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/work-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/work-sans-v4-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
.App {
  font-family: Work Sans;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gift-box {
  background-color: #FFFFFF;
  position: relative;
  width: 432px;
  padding: 0 10px 2px 10px;
  margin: 5px 0;
}
.gift-head {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  margin: 15px 0 10px 0;
  color: #333333;
}

.gift-checkbox  {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.gift-checkbox input {
  margin: 0 10px 0 0;

}

.gift-input {
  font-size: 12px;
  line-height: 14px;

  width: 80px;
  margin-right: 10px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  padding: 15px 5px 14px 5px;
}

.received-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px;

  color: #333333;
  background-color: #F2F2F2;
}
.gift-button {
  border: none;
  background: #333333;
  padding: 15px 5px 14px 5px;
  width: 140px;
  margin: 5px 0;
}
.gift-button-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #FFFFFF;
}
.gift-hint {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  color: #666666;
  margin: 16px 0;
}

.gift-codes {
  margin: 5px 0;
}

/* Hide the browser's default checkbox */
.gift-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-right: 9px;
  padding: 2px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.gift-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.gift-checkbox input:checked ~ .checkmark {
  background-color: rgb(111,157,107);
  border: 1px solid transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.gift-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.gift-checkbox .checkmark:after {
  margin:-1px 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}